<% # provide :page_title, "Log in" %>
<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
title: "Log in",
action: login_path,
formErrorHeading: flash[:danger],
fields: [
  {
    fieldType: "email",
    attribute: "session[email]",
    attributeName: "Email",
    validations: [
      {
        type: "email",
        message: "Enter a valid email address."
      },
    ],
    defaultValue: @temp[:email] || "",
    autofocus: true
  },
  {
    fieldType: "password",
    attribute: "session[password]",
    attributeName: "Password",
    validations: [
      {
        type: "presence",
        message: "Enter your password."
      }
    ],
    defaultValue: ""
  },
  {
    fieldType: "a",
    text: "Forgot password?",
    href: new_password_reset_path,
  },
  {
    fieldType: "checkbox",
    attribute: "session[remember_me]",
    attributeName: "Remember me",
    defaultValue: @temp[:remember_me],
  },
  {
    fieldType: "submit",
    attributeName: "Log in"
  }
]

%>
<p class="centered">Don't have an account? <%= link_to "Sign up here", signup_path %></p>
