<% # provide :page_title, "Log in" %>
<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
title: "Log in",
action: login_path,
fields: [
  {
    fieldType: "email",
    attribute: "session[email]",
    attributeName: "Email",
    autofocus: true
  },
  {
    fieldType: "password",
    attribute: "session[password]",
    attributeName: "Password",
  },
  {
    fieldType: "a",
    text: "Forgot password?",
    href: new_password_reset_path,
  },
  {
    fieldType: "checkbox",
    attribute: "session[remember_me]",
    attributeName: "Remember me",
    defaultValue: true,
  },
  {
    fieldType: "submit",
    attributeName: "Log in"
  }
],
flash: flash
 %>
<p class="centered">Don't have an account? <%= link_to "Sign up here", signup_path %></p>
