<% if object.errors.any? %>
  <p><b>React Errors:</b></p>
  <%= react_component "ErrorDisplay", errors: object.errors.full_messages %>
  <p><b>Ruby on Rails Errors:</b></p>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
