<div id="new_project">
<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
action: projects_path,
title: "New Project",
fields: [
  {
    fieldType: "p",
    text: "Choose a name and a start date for the new Project.",
  },
  {
    fieldType: "text",
    attribute: "project[name]",
    attributeName: "Project name",
    validations: [
      {
        type: "presence",
        message: "Enter a name for your Project."
      }
    ],
  },
  {
    fieldType: "date",
    attribute: "project[start_date]",
    attributeName: "Project start date",
    defaultValue: Date.current.beginning_of_month.next_month,
  },
  {
    fieldType: "number",
    attribute: "monthly_rent",
    attributeName: "Monthly rent",
    validations: [
      {
        type: "value>",
        limit: 0,
        message: "Monthly rent must be more than zero."
      }
    ],
    defaultValue: 0,
  },
  {
    fieldType: "textarea",
    attribute: "project[info]",
    attributeName: "Enter project info that will be shown on Project's front page. Use asterisks(*) to emphasize. (E.g. 'This is *important*' will make the word important bold.)",
  },
  {
    fieldType: "textarea",
    attribute: "project[account_info]",
    attributeName: "Enter account info that will be shown in invoice emails.",
  },
  {
    fieldType: "hidden",
    attribute: "project[admin_id]",
    defaultValue: current_member.id,
  },
  {
    fieldType: "submit",
    attributeName: "Create Project"
  }
] %>
</div>