/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* --- Resets --- */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* --- Colors --- */
$bg-color: #e3e6e6;
$text-color: #494949;
$green: #499260;
$green-darker: #286B70;
$red: #d05959;
$red-darker: #BA3446;
$red-bright: #FEE;
$red-bright-darker: #eacaca;

$brand-medium-dark: #53878c;

/* --- Mixins --- */
@mixin border-box {
  box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Gradients */
@mixin bg-gradient {
  background: $bg-color;
  background: -moz-linear-gradient(top, $bg-color 32%, #c7d4d8 100%);
  background: -webkit-linear-gradient(top, $bg-color 32%,#c7d4d8 100%);
  background: linear-gradient(to bottom, $bg-color 32%,#c7d4d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-color', endColorstr='#c7d4d8',GradientType=1 );
}
@mixin brand-gradient-dark {
  background: #244c5b;
  background: -moz-linear-gradient(-45deg, #244c5b 0%, #22393f 100%);
  background: -webkit-linear-gradient(-45deg, #244c5b 0%,#22393f 100%);
  background: linear-gradient(135deg, #244c5b 0%,#22393f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#244c5b', endColorstr='#22393f',GradientType=1 );
}
@mixin red-gradient {
  background: $red;
  background: -moz-linear-gradient(339deg, $red 0%, $red 38%, $red-darker 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $red), color-stop(38%, $red), color-stop(100%, $red-darker)) !important;
  background: -webkit-linear-gradient(339deg, $red 0%, $red 38%, $red-darker 100%) !important;
  background: -o-linear-gradient(339deg, $red 0%, $red 38%, $red-darker 100%) !important;
  background: -ms-linear-gradient(339deg, $red 0%, $red 38%, $red-darker 100%) !important;
  background: linear-gradient(111deg, $red 0%, $red 38%, $red-darker 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$red-darker',GradientType=1 );
}
@mixin red-gradient-bright {
  background: $red-bright;
  background: -moz-linear-gradient(339deg, $red-bright 0%, $red-bright 38%, $red-bright-darker 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $red-bright), color-stop(38%, $red-bright), color-stop(100%, $red-bright-darker)) !important;
  background: -webkit-linear-gradient(339deg, $red-bright 0%, $red-bright 38%, $red-bright-darker 100%) !important;
  background: -o-linear-gradient(339deg, $red-bright 0%, $red-bright 38%, $red-bright-darker 100%) !important;
  background: -ms-linear-gradient(339deg, $red-bright 0%, $red-bright 38%, $red-bright-darker 100%) !important;
  background: linear-gradient(111deg, $red-bright 0%, $red-bright 38%, $red-bright-darker 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red-bright', endColorstr='$red-bright-darker',GradientType=1 );
}
@mixin green-gradient {
  background: $green;
  background: -moz-linear-gradient(339deg, $green 0%, $green 38%, $green-darker 100%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $green), color-stop(38%, $green), color-stop(100%, $green-darker)) !important;
  background: -webkit-linear-gradient(339deg, $green 0%, $green 38%, $green-darker 100%) !important;
  background: -o-linear-gradient(339deg, $green 0%, $green 38%, $green-darker 100%) !important;
  background: -ms-linear-gradient(339deg, $green 0%, $green 38%, $green-darker 100%) !important;
  background: linear-gradient(111deg, $green 0%, $green 38%, $green-darker 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$green', endColorstr='$green-darker',GradientType=1 ) !important;
}
/* --- Global --- */
html, body {
  height: 100%;
  margin: 0;
}
/* --- flex --- */
.flex-container {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  @include bg-gradient;
  header {
    flex: 0 1 auto;
  }
  .content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer {
    padding: 5em 0 1em;
    flex: 0 1 40px;
  }
}
body {
  font-family: 'Lato', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $text-color;
  font-weight: 400;
}
h1 {
  font-size: 2em;
  margin: 1em 0 0.5em;
  text-align: center;
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
}
h3 {
  font-size: 1.5em;
}
h2, h3, h4 {
  text-align: center;
  span {
    display: block;
    font-size: 0.63em;
    font-weight: normal;
    color: #999;
    padding-top: 5px;
  }
}
b {
  font-weight: bold;
}
.centered {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.hidden {
  display: none;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: #000;
  }
}

article.info {
  margin: 0 auto 1em;
  padding: 2em;
  border-radius: 8px;
  @include border-box;
  form {
    width: 100%;
  }
}
.bright {
  background-color: #FFF;
}
/* Alerts */
.alert {
  display: block;
  position: relative;
  width: 40%;
  margin: 1em auto;
  text-align: center;
  background-color: #ddd;
  padding: 1em 3em;
  border-radius: 8px;
  border: 1px solid #ccc;
  ul {
    padding: 0;
  }
  &.alert-danger{
    background-color: $red-bright;
    border-color: $red;
    color: $red;
  }
  &.alert-info {
    background-color: #e4f3ef;
  }
}

.formError {
  margin-top: 6px;
  position: relative;
  padding: 1em 5%;
  color: #FFF;
  @include border-box;
  @include red-gradient;
  &:after {
    display: block;
    position: absolute;
    margin-left: -0.5em;
    top: -0.5em;
    left: 25%;
    background: $red;
    height: 1em;
    width: 1em;
    content: "";
    transform: rotateZ(45deg);
    z-index: 10;
  }
}
.centered .formError {
  margin-top: 16px;
  &:after {
    left: 50%;
  }
}

/* --- Header --- */
header, footer {
  text-align: center;
}
header {
  @include brand-gradient-dark;
  color: #FFF;
  .logged-in-info {
    position: relative;
    text-align: center;
    color: #99b2b5;
  }
  nav {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      a {
        display: block;
        color: #ddd;
        padding: 0.5em 2em 1em;
        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
footer {
  font-size: 0.9em;
  color: #999;
  text-shadow: -1px 1px #FFF;
}

/* --- MemberInfo --- */
.memberInfo {
  display: inline-block;
  text-align: left;
  width: 96%;
  margin: 0.5% 0.5% 1.5em;
  padding: 1.5em 0 0 0;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ddd;
  border-radius: 10px;
  overflow: hidden;
  vertical-align: top;
  animation: fade-in 400ms ease-out backwards;
  &.currentMember {
    display: block;
    margin: 0.5em auto;
  }
  h3 {
    text-align: center;
    margin: 0.5em 0 1.5em 0;
    font-size: 20px;
  }

  p.noLongerMember {
    display: none;    
  }
  .displayNumbers {
    font-family: 'Lobster', Lobster, sans-serif;
    font-weight: 100;
    display: block;
    font-size: 4em;
  }

  span.green, span.red {
    display: block;
  }
  .green, .red {
    padding: 1.25em 20px 0.5em;
    color: #FFF;
    margin: 0;
  }
  .green {
    @include green-gradient;
  }
  .red {
    @include red-gradient;
  }
  .noLongerMember {
    color: #AAA;

    p.noLongerMember {
      display: block;
      font-style: italic;
      font-weight: bold;
      color: #A00;
      text-align: center;
      padding: 0 15px;
    }

    .green, .red, .totalRentTable {
      display: none;
    }
  }
}

/* TransactionTables */
table {
  margin: 0;
  width: 100%;
  padding: 1.5em 15px;
  background: #f7f7f7;
  td {
    padding-right: 1em;
  }
}
.right {
  text-align: right;
  padding-right: 0;
}
.shortDate {
  display: none;
}
.infoTextLeft {
  width: 83%;
}
.amountRight {
  width: 17%;
}

.transactionTable {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}
.transactionTable td, .lined {
  border-top: 1px solid #e7e7e7;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.newTransaction td {
  color: #000;
  font-weight: bold;
  background: #FFF;
  box-shadow: 0 0 10px 5px #FFF;
}
.rent td {
  text-shadow: 0 0 1px rgba(146, 34, 34, 0.4);
}
.discount td {
  text-shadow: 0 0 1px rgba(34, 146, 110, 0.5);
}

/* --- Overviews --- */
.overview {
  margin: 1em auto 2em;
  &.projects {
    &>li {
      @include bg-gradient;
      border-radius: 8px;
      padding: 1em 3em;
      h3 {
        text-align: center;
      }
      a {
        display: block;

      }
    }
  }
}

form.full-width .input-container .btn-primary,
.btn-primary {
  display: block;
  margin: 0.8em auto;
  padding: 0.5em 0;
  width: 100%;
  background: rgba(255,255,255,0.7);
  color: #537879;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: all 250ms ease-out;
  &:hover {
    background: #333;
    border-color: #FFF;
    color: #FFF;
  }
  &.inverted {
    background: #465458;
    border-color: #FFF;
    color: #FFF;
    &:hover {
      background: rgba(255,255,255,0.7);
      color: #465458;
      border: none;
    }
  }
  &[data-method="delete"] {
    @include red-gradient;
    &:hover {
      @include red-gradient-bright;
      color: $red-darker;
    }
  }
  &.ajaxComplete, &.ajaxComplete:hover {
    @include green-gradient;
    color: #FFF;
  }
}
/* --- Forms --- */
form.full-width {
  display: block;
  position: relative;
  margin: 2em auto 1em;
  width: 100%;
  padding: 0 0 3em 0;
  color: #ddd;
  background: $brand-medium-dark;
  @include border-box;
  h3 {
    position: relative;
    margin: 0 0 1em 0;
    padding: 1.6em 0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    @include brand-gradient-dark;
  }
  h4 {
    background: rgb(48, 99, 111);
    margin: 2em 0 0;
    padding: 1.2em 0;
    color: #FFF;
    width: 100%;
    text-align: center;
  }
  p {
    margin: 1em auto;
    color: #FFF;
  }
  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #FFF;
    margin: 1.3em 0;
  }
  .input-container {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 10%;
    a {
      text-align: right;
      font-weight: normal;
      font-style: italic;
      color: #b6ccdc;
      display: block;
      padding: 0;
      transition: color 250ms;
      &:hover {
        color: #FFF;
      }
    }
    label {
      display: block;
      position: absolute;
      width: 80%;
      // height: 100%;
      text-align: left;
      line-height: 4em;
      top: 0;
      transition: color 250ms;
    }
    &.centered label {
      text-align: center;
      color: #FFF;
      position: relative;
    }
    input {
      display: block;
      position: relative;
      appearance: none;
      margin: 0 0 0 25%;
      padding: 0.5em 0 0.5em 0;
      width: 75%;
      outline: none;
      border: none;
      background: none;
      color: #ddd;
      font-size: 1em;
      line-height: 3em;
      transition: background-color 250ms, color 250ms;
      z-index: 1;
      &:hover {
        color: #eee;
        &+label {
          color: #eee;
          &:before {
            transform: scaleX(0.25);
            background: #bbb;
          }
        }
      }
      &:active, &:focus {
        color: #FFF;
        &+label {
          color: #FFF;
          &:before {
            transform: scaleX(1.0);
            background: #FFF;
          }
        }
      }
      &+label {
        &:before {
          display: block;
          position: absolute;
          bottom: 0.5em;
          left: 0;
          content: "";
          background: #bbb;
          width: 100%;
          height: 2px;
          transform: scaleX(0.0);
          transition: all 250ms;
          z-index: 1;
        }
      }
      &[type=checkbox] {
        display: none;
        &+label {
          position: relative;
          height: 4em;
          // padding-left: 10%;
          color: #ddd;
          // background: image-url("sprite.png") 2px 7px no-repeat;
          & .icon {
            width: 30px;
          }
          &:before {
            display: none;
          //   transform: scaleX(0.0);
          //   background: #bbb;
          }
          & svg {
            position: relative;
            top: 10px;
            left: 0;
            margin-right: 2em;
            #stroke-circle {
              transform: translate(50px, 50px) rotateZ(90deg);
            }
          }
          &:hover {
            color: #FFF;
            // background: image-url("sprite.png") 2px -33px no-repeat;
            & .stroke-on-hover {
              stroke-dashoffset: 0 !important;
            }
            #stroke-circle {
              transform: translate(50px, 50px) rotateZ(180deg);
            }
            // &:before {
            //   color: #FFF;
            //   transform: scaleX(0.25);
            //   background: #bbb;
            // }
          }
        }
        &:checked {
          &+label {
            color: #eee;
            // background: image-url("sprite.png") 2px -73px no-repeat;
            // &:before {
            //   transform: scaleX(1.0);
            //   background: #fff;
            // }
            & .stroke-on-checked {
              stroke-dashoffset: 0 !important;
            }
            & .show-on-checked {
              opacity: 1 !important;
            }
          }
          &:hover+label {
            color: #FFF;
          }
        }
      }
      &[type=submit] {
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
    textarea {
      width: 100%;
      padding: 1.5em 2.25em;
      border: 2px solid rgba(255,255,255,0.5);
      background: none;
      color: #FFF;
      font-size: 1em;
      border-radius: 5px;
      height: 8em;
      outline: none;
      transition: all 250ms ease-out;
      @include border-box;
      &:hover {
        border: 2px solid rgba(255,255,255,0.5);
        background: rgba(255,255,255,0.1);
      }
      &:active, &:focus {
        border: 2px solid rgba(255,255,255,1);
        background: rgba(255,255,255,0.1);
      }
    }
    select {
      appearance: none;
      padding: 0.8em 2.5em;
      background: rgba(255,255,255,0.1);
      color: #FFF;
      outline: none;
      border: none;
      border-radius: 0;
      transition: background-color 250ms, border-color 250ms;
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }    
  }
  .flex-items-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    .flex-item {
      flex-grow: 1;
    }
    input[type=radio] {
      display: none;
      &+label {
        display: block;
        position:relative;
        padding: 1em 0;
        text-align: center;
        width: 100%;
      }
      &+label:hover {
        color: #FFF;
        &:before {
          transform: scaleX(0.25);
        }
      }
      &+label:before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: #bbb;
        width: 100%;
        height: 2px;
        transform: scaleX(0.0);
        transition: all 250ms;
      }
      &:checked+label {
        color: #FFF;
        background-color: rgba(255,255,255,0.1);
        &:before {
          transform: scaleX(1);
          background: #FFF;
        }
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none !important;
    -webkit-box-shadow: 0 0 0 30px $brand-medium-dark inset;
            box-shadow: 0 0 0 30px $brand-medium-dark inset;
    -webkit-text-fill-color: #FFF !important;
    transition: background-color 5000s ease-out 0s;
  }
}

// @keyframes draw {
//   to {
//     stroke-dashoffset: 0;
//   }
// }
// @keyframes erase {
//   to {
//     stroke-dashoffset: 105;
//   }
// }
.drawable {
  transition: all 350ms ease-out;
  &.drawable-fill {
    r: 0;
  }
}
.svg-fill {
  fill: #FFF;
  opacity: 0;
}
.svg-stroke {
  fill: none;
  stroke: #FFF;
  stroke-width: 6;
}

::input-placeholder { /* Chrome/Opera/Safari */
  color: #ddf;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddf;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddf;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddf;
  font-style: italic;
}

// input {
//   display: block;
//   position: relative;
//   margin: 0.5em 0 0.5em 20%;
//   padding: 1em 2%;
//   border-radius: 3px;
//   width: 56%;
//   outline: none;
//   border: 1px solid #ddd;
//   background: #eee;
//   transition: all 250ms;
//   &:hover {
//     border-color: #bbb;
//   }
//   &:active, &:focus {
//     border-color: #eee;
//     background: #FFF;
//   }
//   &[type=checkbox]+label {
//     margin: 0 auto;
//     width: 20px;
//     height: 20px;
//     background: #FFF;
//   }
//   &[type=checkbox] {
//     display: none;
//   }
//   &[type=submit] {
//     margin: 3em auto 1em;
//     width: 30%;
//     background: #555;
//     color: #eee;
//     font-size: 1em;
//     &:hover {
//       background: #333;
//       border-color: #FFF;
//       color: #FFF;
//     }
//   }
// }

.footer {
  color: rgba(0,0,0,0.5);
  font-size: 8px;
}

/* --- Media queries --- */
@media screen and (min-width: 600px) {
  header .logged-in-info {
    position: absolute;
    top: 0.5em;
    right: 2em;
    text-align: right;
  }

  article.info {
    width: 80%;
    padding: 3em 6em;
    form.full-width {
      width: 100%;
    }
  }

  .memberInfo {
    width: 32%;
    margin: 0.5%;
    &.currentMember {
      width: 65%;
    }
  }
  .shortDate {
    display: table-cell;
  }
  .longDate {
    display: none;
  }
  .infoTextLeft, .amountRight {
    display: block;
    width: 100%;
  }
  form.full-width {
    width: 80%;
    border-radius: 8px;
    h3{
      border-radius: 8px 8px 0 0;
    }
    .input-container {
      padding-left: 7%;
      padding-right: 7%;
      input {
        &:hover + label:before {
          transform: scaleX(0.5);
        }
        &:active + label:before,
        &:focus + label:before {
          transform: scaleX(1);
        }
      }
      label {
        width: 86%;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .infoTextLeft, .amountRight {
    display: table-cell;
  }
  .infoTextLeft {
    width: 83%;
  }
  .amountRight {
    width: 17%;
  }
  form.full-width {
    width: 80%;
    border-radius: 8px;
    h3{
      border-radius: 8px 8px 0 0;
    }
    .input-container {
      padding-left: 8%;
      padding-right: 8%;
      input {
        margin-left: 25%;
        width: 75%;
        &:hover + label:before {
          transform: scaleX(0.5);
        }
        &:active + label:before,
        &:focus + label:before {
          transform: scaleX(1);
        }
      }
      label {
        width: 84%;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .memberInfo {
    width: 24%;
    &.currentMember {
      width: 49%;
    }
  }
  form.full-width {
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    h3{
      border-radius: 8px 8px 0 0;
    }
    .input-container {
      padding-left: 10%;
      padding-right: 10%;
      input {
        &:hover + label:before {
          transform: scaleX(0.5);
        }
        &:active + label:before,
        &:focus + label:before {
          transform: scaleX(1);
        }
      }
      label {
        width: 80%;
      }
      &.centered label {
        width: 100%;
      }
      &.flex-item.right, &.flex-item.left {
        margin-left: 4%;
        margin-right: 4%;
      }
    }
  }
}