<% provide :page_title, "Hi, #{@member.name}" %>
<section>
  <article class="info bright">
    <h2>Welcome, <%= @member.first_name %></h2>
    <p><b>You have been successfully registered.</b></p>

    <p>To start using your account, you need to <i>activate</i> it.</p>
    <p>Check your email, you should have received an email with an activation link. Click that link to activate your account.</p>
    <p><i>If you didn't receive the activation email &mdash; check your spam folder.</i></p>
  </article>
  <article class="info bright">
    <h2>Doesn't work?</h2>
    <p>If the link is not clickable, you can also copy the link and paste it below.</p>


<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
action: activate_path,
fields: [
  {
    fieldType: "text",
    attribute: "activation_link",
    attributeName: "Paste link here",
    validations: [
      {
        type: "presence",
        message: "The field is empty"
      }
    ],
  },
  {
    fieldType: "submit",
    attributeName: "Activate your account"
  }
] %>

  </article>
</section>