<h1>Invite new member</h1>
<% random_password = Member.new_token %>
<%= react_component 'Form', 
authenticity_token: form_authenticity_token, 
action: invite_path,
fields: [
  {
    fieldType: "text",
    attribute: "member[name]",
    attributeName: "Name",
  },
  {
    fieldType: "email",
    attribute: "member[email]",
    attributeName: "Email",
  },
  {
    fieldType: "p",
    text: "Assign new member to a Project"
  },
  {
    fieldType: "radio",
    attribute: "new_or_existing",
    attributeName: "Create new Project",
    defaultValue: "new",
  },
  {
    fieldType: "radio",
    attribute: "new_or_existing",
    attributeName: "Choose existing Project",
    defaultValue: "existing",
  },
  {
    fieldType: "p",
    text: "Choose a name and a start date for the new Project.",
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "text",
    attribute: "project[name]",
    attributeName: "New Project name",
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "date",
    attribute: "project[start_date]",
    attributeName: "Project start date",
    defaultValue: Date.current.beginning_of_month.next_month,
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "number",
    attribute: "monthly_rent",
    attributeName: "Monthly rent",
    defaultValue: 0,
    isVisibleIfChecked: "new_or_existing#new",
  },
  {
    fieldType: "select",
    attribute: "project_id",
    attributeName: "Select an existing Project",
    isVisibleIfChecked: "new_or_existing#existing",
    defaultValue: 0,
    options: @projects.map { |p| [p.id, p.name] }.unshift([0, "Choose Project"]),
  },
  {
    fieldType: "p",
    text: "Select which month the new member joins the Project."
  },
  {
    fieldType: "select",
    attribute: "joined_at_m",
    attributeName: "First month to pay rent for",
    options: (1..12).map {|m| [m, Date::MONTHNAMES[m]]},
    defaultValue: Date.current.next_month.month
  },
  {
    fieldType: "select",
    attribute: "joined_at_y",
    attributeName: "",
    options: (2000..20.years.from_now.year).map {|y| [y, y]},
    defaultValue: Date.current.year
  },
  {
    fieldType: "p",
    text: "If the new member will only join for a limited time, select the last month to pay rent for as well, otherwise just leave it as it is."
  },
  {
    fieldType: "select",
    attribute: "left_at_m",
    attributeName: "Last month to pay rent for",
    options: (1..12).map {|m| [m, Date::MONTHNAMES[m]]},
    defaultValue: Date.current.next_month.month
  },
  {
    fieldType: "select",
    attribute: "left_at_y",
    attributeName: "",
    options: (2000..100.years.from_now.year).map {|y| [y, y]},
    defaultValue: 100.years.from_now.year
  },
  {
    fieldType: "p",
    text: "Auto generated password. The member will be prompted to change this when logging in for the first time."
  },
  {
    fieldType: "password",
    attribute: "member[password]",
    attributeName: "Password",
    defaultValue: random_password
  },
  {
    fieldType: "password",
    attribute: "member[password_confirmation]",
    attributeName: "Confirm password",
    defaultValue: random_password
  },
  {
    fieldType: "submit",
    attributeName: "Invite new Member"
  }
] %>