<% provide :page_title, "Welcome #{@member.name}!" %>
<section>
  <article class="info bright">
    <h2>All done!</h2>
    <p><b>Your account has been successfully activated.</b></p>
  </article>

  <article class="info bright">
    <h2>Get Started</h3>
    <% @projects = current_member.projects %>
    <% unless @projects.empty? %>
      <p>Open an existing Project</p>
      <%= render 'projects/project_list' %>
      <p>Or create a new Project</p>
    <% else %>
      <p>Start by creating a new Project</p>
    <% end %>
    <%= render 'projects/new_form' %>
  </article>
</section>